/* Estilos del contenedor general con degradado suave */
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  background: linear-gradient(to left, #DFAB02,#3a2d0a, black);
  color: white; /* Texto en blanco para contraste */
}

/* Tarjeta de inicio de sesión */
.login-card {
  background-color: rgba(255, 255, 255, 0.95); /* Fondo blanco semitransparente */
  width: 400px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
}

/* Título */
.login-title {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 20px;
}

/* Mensaje de error */
.error-message {
  color: #dc3545;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
}

/* Formulario */
.login-form .form-group {
  margin-bottom: 20px;
  text-align: left;
}

.login-form .form-group input{
  margin-top: 5px;
  text-align: left;
  margin-right: 6px;
  width: 90%;
}

/* Etiquetas */
label {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 5px;
  display: block;
}

/* Campos de entrada */
input {
  width: 90%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s;
}

input:focus {
  border-color: #007bff;
}

/* Botón de inicio de sesión */
.btn-login {
  width: 100%;
  padding: 10px 15px;
  font-size: 1rem;
  color: #ffffff;
  background-color: #ffb400;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-login:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.btn-login:hover:not(:disabled) {
  background-color: #ff9800;
}
