/* Contenedor general cuando está cargando */
.view-role-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.view-role-alert {
  font-size: 1.2rem;
  color: #555;
  background-color: #ffffff;
  padding: 15px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Contenedor principal */
.view-role-container {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
}

/* Alerta de error */
.view-role-alert-error {
  font-size: 1.2rem;
  color: #dc3545;
  background-color: #f8d7da;
  padding: 15px 20px;
  border-radius: 8px;
  border: 1px solid #f5c6cb;
  margin-bottom: 20px;
}

/* Tarjeta de detalles */
.view-role-card {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.view-role-title {
  margin-bottom: 20px;
  font-size: 1.6rem;
  font-weight: bold;
  color: #333;
}

/* Contenido */
.view-role-content p {
  margin: 10px 0;
  font-size: 1rem;
  color: #444;
}

.view-role-content strong {
  color: #555;
}

/* Botón Regresar */
.btn-regresar {
  background-color: #555;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
  display: flex;
    justify-content: space-between;
}

.btn-regresar:hover {
  background-color: #555;
}
